body
{
  color: white;
  background: #f78fc3;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#hand_gesture_name_1 ,#hand_gesture_name_2  
{
  color: black;
}
.hand_gesture_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading {
  font-size: 22px;
  border-radius: 10px;
  letter-spacing: 10px;
}